<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ContestServerHost" value="localhost" />
		<add key="ContestServerPort" value="9933" />
		<add key="InfoFont" value="Lucida Console, 14pt" />
		<add key="VisualisationCellSize" value="40" />
		<add key="ShowTracksForeground" value="true" />
	</appSettings>
</configuration>